{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "pixelmatch": true,
    "fs": true
  },
  "plugins": ["import","react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "max-len": ["error", 150],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "linebreak-style": ["error", "windows"],
    "no-invalid-this": "off",
    "no-console": "off"
  }
}
