{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [">3%"],
        "uglify": true
      }
    }],
    ["react"]
  ],
  "plugins": ["transform-object-rest-spread"]
}
