{
  "register": "babel-register",
  "exclude": [
    "**/*.test.jsx",
    "**/*.test.js"
  ],
  "reporter": [
    "text",
    "text-summary"
  ],
  "all": true,
  "cache": true,
  "sourceMap": false,
  "instrument": false
}
