{
  "register": "babel-register",
  "extension": [
    ".jsx"
  ],
  "exclude": [
    "build",
    "src/polyfill",
    "**/*.test.jsx",
    "**/*.test.js"
  ],
  "reporter": [
    "text",
    "text-summary"
  ],
  "all": true,
  "cache": true
}
