.schulte-table {
  display: grid;
  grid-gap: 1px;
  font-size: 15vmin;
  user-select: none;
  padding: 1px;
  background-color: gray;
}

.schulte-cell {
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  background-color: white;
}

.schulte-center {
  height: 1.5vmin;
  width: 1.5vmin;
  border-radius: 100%;
  background: red;
  position: absolute;
  top: calc(50% - 0.75vmin);
  left: calc(50% - 0.75vmin);
}
