/*
body {
  display: flex;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-editor {
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  text-align: start;
}

.text {
  display: flex;
  justify-content: center;
  text-align: start;
  margin: 0 auto;
  overflow: hidden;
  line-height: 25px;
  user-select: none;
}

.text ::selection {
  color: black; 
  background: yellow;
}
*/

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.blurring.dimmable>:not(.dimmer) {
  -webkit-transition:.1s -webkit-filter ease !important;
  transition:.1s -webkit-filter ease !important;
  transition:.1s filter ease !important;
  transition:.1s filter ease,.1s -webkit-filter ease !important;
}

/* Graph */
.dot {
  stroke: #293b47;
  fill: rgb(47, 117, 167)
}

.axis text {
  font-size: 12px;
}

.text-label {
  font-size: 12px;
}

.regression-line {
  stroke: #E4002B;
  fill: none;
  stroke-width: 3;
}