.label {
  fill: black;
  text-anchor: end;
}

.regression-line {
  fill: none;
  stroke-width: 3;
}

.key-dot {
  height: 12px;
  margin-right: 0.5em;
  width: 12px;
}

.tick line {
  color: #d8d8d8;
}

#tooltip {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  padding: 0.833em 1em;
}
