const credentials = {
  admin: {
    username: '', // Unit testing
    password: '', // Unit testing
  },
  demo: {
    username: '', // Demo account authentication
    password: '', // Unit testing
  },
};

export default credentials;
