.rc-slider {
  height: 24px;
}

.rc-slider-rail {
  border: 1px solid #d8d8d8;
  height: 13px;
}

.rc-slider-track {
  border: 1px solid #d8d8d8;
  height: 13px;
}

.rc-slider-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 20%;
  height: 24px;
  outline: none;
  width: 24px;
}
